/*
* Variables
-----------------------------------------*/
$bg-sky-night: #051937;
$bg-sky-day: #48aabb;


$waves: (
    'wave1': animate-wave1,
    'wave2': animate-wave2,
    'wave3': animate-wave3
);

$waves-reverse: (
    'wave4': animate-wave4,
    'wave5': animate-wave5,
    'wave6': animate-wave6
);